* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    scroll-behavior: smooth;
}
h2{
    font-size: 40px;
}

nav {
    /* border: 2px solid yellow; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 30px;
    /* background: linear-gradient(360deg, #000000, #3E065F); */
    background-color: #12031c;
    position: fixed;
    z-index: 1000;
}

nav>.mid>ul {
    display: flex;
    /* border: 2px solid black; */
}

.mid>ul>li {
    list-style: none;
    padding: 10px 30px;
}

.mid>ul>li>a {
    text-decoration: none;
    color: white;
}
.mid>ul>li>a:hover {
    border-bottom: 2px solid #8E05C2;
    font-size: 17px;
}

.right > a > button {
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 500;
    border: 1px solid #8E05C2;
    background-color: black;
    color: white;
    width: 120px;
}
.right > a > button > img{
    width: 25%;
}
.ham-icon{
    display: none;
    color: white;
}

/* Ham Menu */

.ham-menu{
    color: white;
    border: 1px solid yellow;
    display: none;
}

/* Homepage main section */

.background{

    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding-top: 62px;
    padding: 0 100px;
    background-color: #3e065f4a;
}

.background > div{
    /* border: 1px solid white; */
    color: white;
}
.background > .left{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}
.background > .left > p{
   font-size: 25px;
   padding-left: 5px;
}
.background > .left > h1{
   font-size: 55px;
   text-align: left;
   margin: 20px 0;
}

.background > .left > h1:last-child{
   color: #8E05C2;
}
.background > .left > div{
    display: flex;
}
.background > .left > div > a{
    text-decoration: none;
}
.watchResume{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}
.watchResume >  img{
    filter: brightness(0) invert(1);
    width: 70%;
}
.btn-border{
    padding: 14px 50px;
    border-radius: 7px;
    font-weight: 500;
    border: 1px solid #8E05C2;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
    color: white;
    /* margin-top: 20px; */
}
.btn-border:hover{
    border: 1px solid white;
    color: #8E05C2;
}
.background > .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.background > .right > img{
    width: 80%;
}

/* ABOUT SECTION */

#about {
    /* border: 1px solid green; */
    color: white;
    height: 100vh;
    display: grid;
    padding: 0 50px;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    margin-top: 50px;
}

#about>div {
    /* border: 1px solid yellow; */
    display: flex;
    /* gap: 30px; */
    padding: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#about>.left>h2 {
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    /* font-size: 55px; */
    border-bottom: 1px solid #8c04c2;
    width: 200px;
    text-align: center;
}

#about>.left>p {
    text-align: justify;
    margin-top: 30px;
}
#social{
    /* border: 1px solid red; */
    width: 50%;
    gap: 20px;
    margin: 25px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#social > a {
    width: 100%;
}
#social > a > img{
    width:70%;
    height: auto;
}
.left > a:nth-child(4) > button{
    width: 47%;
}
#about > .right{
    background: url(https://i.pinimg.com/originals/4a/34/99/4a3499c6b5cca368ec4e3717f9077114.gif);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#about>.right>img {
    border-radius: 47%;
    width: 60%;
    /* border: 7px solid #3E065F; */
}

/* Skills */

#skills{
    /* border: 1px solid yellow; */
    height: 100%;
    background-color: #3e065f4a;
    position: relative;
    padding-bottom: 100px;
}

.skills-container {
    height: 100%;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.skills-container > h2 {
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    /* font-size: 55px; */
    border-bottom: 1px solid #8c04c2;
    width: 200px;
    text-align: center;
}

.skills-box {
    /* border: 1px solid white; */
    /* height: 60%; */
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.skills-box >div {
    border: 0.5px solid #8c04c2;
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    padding: 20px;
    width: 70%;
    margin: auto;
}
.skills-box > div:hover{
    border: 1px solid white;
    color: white;
}

.skills-box > div>img {
    width: 70%;

}

/* Github */


.achivements {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.achivements > img{
    width: 28.5%;
    border: 0.5px solid #8c04c2;
}
.calendar{
    /* border: 1px solid red; */
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar > img{
    border: 1px solid purple;
    margin-top: 50px;
    width: 100%;
}
/* .github > div > img {
    
} */


/* Projects */

#projects{
    /* border: 2px solid white; */
    height: auto;
    padding: 70px 50px;
    background-color: black;
}
#projects > h2{
    border-bottom: 1px solid #8c04c2;
    color: white;
    text-align: center;
    width: 350px;
    margin: 60px auto;
}
#projects > .proj-container{
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    width: 70%;
    margin: 50px auto;
}
.proj-container > div{
    /* border: 1px solid red; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(220deg, #000000, #3E065F);
    border-radius: 10px;
}
.proj-container > div:hover{
    border: 1px solid #8c04c2;
}
.proj-container > div > img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
}
.proj-container > div > h3{
    /* margin: 10px; */
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #8c04c2;
    
}
.proj-container > div > p{
    text-align: center;
    margin-bottom: 7px;
    padding: 0 25px;
}
.techstacks{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.techstacks > img{
    width: 10%;
}
.proj-btn{
    padding: 14px 20px;
    border-radius: 7px;
    font-weight: 500;
    border: 1px solid #8E05C2;
    background-color: black;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
}
.proj-btn>a{
    text-decoration: none;
    color: white;

}
.proj-btn:hover{
    color: #8E05C2;
    border: 1px solid white;
}


/* Contact */

#contact{
    /* border: 2px solid black; */
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #3e065f4a;
    /* background-color: rgb(215, 212, 212); */
  }
  #contact > div {
    /* border: 2px solid red; */
    width: 45%;
    margin: 50px 0;
    padding: 40px;
  }
  #contact > #c-left{
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: white;
  }
  #contact > #c-left > h1{
    margin-bottom: 30px;
    font-size: 55px;
  }
  #contact > #c-left > p{
    margin: 20px 0;
  }
  #contact > #c-right > form{
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
    width: 70%;
    margin: auto;
  }
  textarea{
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    border: 1px solid #8c04c2;
  }
  #contact > #c-right > form  > input, textarea{
    margin-top: 15px;
    padding: 13px 20px;
    border: none;
    border-radius: 7px;
    border: 1px solid #8c04c2;
  }
  #contact > #c-right > form  > input:nth-child(5){
    background-color: #3E065F;
    color: white;
    cursor: pointer;
  }
  #contact > #c-right > form  > input:nth-child(5):hover{
    background-color: black;
    color: #8c04c2;
    cursor: pointer;
  }

  /* FOOTER SECTION */

  footer{
    /* border: 1px solid red; */
    height: auto;
    width: 100%;
  }
  footer > div{
    margin: 10px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer > div > p{
    text-align: center;
    padding: 0 10px;
    font-size: 12px;
  }



  /*  Mobile view */
  @media only screen   and (min-width:320px) and (max-width:768px){
    nav{
        border-bottom: 1px solid #3E065F;
        position: fixed;
        justify-content: space-between;
        /* border: 1px solid red; */
    }
    .ham-icon{
        display: block;
        width: 10%;
        text-align: right;
    }
    .ham-menu{
        position: fixed;
        z-index: 10000;
        width: 100%;
        background-color: #12031c;
        height: 100vh;
        display: flex none;
    }
    .ham-menu > ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 250px;
        gap: 30px;
    }
    .ham-menu > ul > li > a{
        text-decoration: none;
        color: white;
        font-size: 26px;
        font-weight: 200;
    }
    .ham-menu > ul > li > a:hover{
       color: #3E065F;
    }
    .ham-menu > ul > li > button{
        display: flex;
       width: 140px;
       justify-content: center;
       align-items: center;
    }
    .ham-menu > ul > li > button > img{
       width: 90%;
    }
    nav > .left > h2{
        font-size: 28px;
    }
    nav>.mid {
        display: none;
    }
    nav > .right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* border: 1px solid white; */
    }
    .right>button{
        display: none;
    }
    .background{
        display: flex;
        flex-direction: column;
        padding: 26px;
    }
    .background > .left{
        align-items: center;
     }
    .background > .left > h1{
        text-align: center;
        font-size: 50px;
     }
    .background > .left > img{
        width: 80%;
        margin: 30px 0;
     }
     .background > .right{
        display: none;
    }
     #about{
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row dense;
        padding: 0;
        /* margin: 0 20px; */
     }
     #about > div{
        text-align: center;
        padding: 01;
     }
     #about > .left{
        grid-row: 2;
        padding: 30px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     #about > .right{
        grid-row: 1;
        height: 500px;
        width: 100%;
        padding: 20px;
        margin: 0;
     }
     #about > .right >img{
        width: 100%;
     }
     #social{
        display: flex;
        justify-content: center;
        align-items: center;
     }
    #skills{
        height: auto;
        padding: 100px 10px;
    }
    .skills-container > h1{
        margin-bottom: 40px;
    }
    .skills-box  {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,1fr);
        /* border: 1px solid red; */
        width: 90%;
        
        /* width: 40%; */
    }
    .skills-box  > div{
        padding: 10px;
        width: 100px;
        height: 100px;
        margin: auto;
    }
    .skills-box div> img{
        width: 70%;
    }
    .skills-box div> h4{
        font-weight: 400;
    }
    .achivements{
        flex-direction: column;
    }
    .achivements > img{
        width: 80%;
    }
    .calendar{
        width: 80%;
    }
    #projects {
        height: auto;
    }
    #projects > h2{
        width: 300px;
        
    }
    #projects > .proj-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
    }
    #contact{
        flex-direction: column;
        padding-bottom: 40px;
      }
      #contact > div{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        padding: 0 40px;
      }
      #contact > #c-right > form{
        width: 100%;
      }
      #c-left > #social{
        margin: auto;
      }
}



  @media only screen   and (min-width:769px) and (max-width:1100px){
    nav > .left > h2{
        font-size: 30px
    }
    .background > .right{
        display: none;
    }
    #about{
        padding: 0;
    }
    #about > .right{
        margin-right: 100px;
    }
    #about > .right > img{
        width: 100%;
    }
    .skills-box {
        width: 90%;
    }
    .skills-box >div {
        width: 100%;
        font-size: 14px;
    }
    .achivements > img{
        width: 35%;
    }
    .calendar{
        width: 75%;
    }
    #projects > .proj-container{
        width: 90%;
    }
    #contact > #c-right > form{
        width: 100%;
      }
  }
